---
- name: Descargar script de instalaci贸n de Istio
  ansible.builtin.shell: |
    curl -L https://git.io/getLatestIstio | ISTIO_VERSION={{ hostvars['localhost']['istio_version'] }} sh -
  args:
    chdir: /tmp

- name: Mover el directorio de Istio a /opt
  ansible.builtin.command: mv /tmp/istio-{{ hostvars['localhost']['istio_version'] }} /opt/
  args:
    creates: /opt/istio-{{ hostvars['localhost']['istio_version'] }}

- name: Exportar variable de entorno para istioctl
  ansible.builtin.shell: |
    echo 'export PATH=$PATH:/opt/istio-{{ hostvars['localhost']['istio_version'] }}/bin' >> ~/.bashrc
  args:
    executable: /bin/bash

- name: Aplicar el cambio en la sesi贸n actual
  ansible.builtin.shell: |
    source ~/.bashrc
  args:
    executable: /bin/bash

- name: Instalar Istio
  ansible.builtin.shell: |
    /opt/istio-{{ hostvars['localhost']['istio_version'] }}/bin/istioctl install --set profile=default -y
  args:
    executable: /bin/bash

- name: Verificar la instalaci贸n de Istio
  ansible.builtin.shell: |
    kubectl get pods -n istio-system
  register: result

- name: Mostrar resultado de la verificaci贸n
  ansible.builtin.debug:
    msg: "{{ result.stdout }}"
